body {
    background-image: url("../images/bg.png");
    color: #74598f;
    font-size: 19px;
    font-family: 'Rajdhani', sans-serif;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 60px;
    color: #74598f;
}

#rules {
    line-height: 20px;
    color: #36415a;
    margin-bottom: 30px;
}

#result {
    font-size: 65px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

#table {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 20px;
}

#crystals-need {
    font-size: 22px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
}

#crystals-have {
    font-size: 22px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
    padding-top: 30px;
}

.win {
    padding: 40px;
    font-size: 22px;
}

.lose {
    padding: 40px;
    font-size: 22px;
}

#wins {
    font-size: 45px;
}

#losses {
    font-size: 45px;
}

#totalScore {
    font-size: 65px;
}


 .crystals {
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .crystal {
     height: 200px;
     width: 200px;
 }
 
 
 
